VITE_BLINK_PROJECT_ID='profitsnap-landing-m7jabo0z'
VITE_BLINK_PUBLISHABLE_KEY='blnk_pk_8JAJ4VeH8aE2LNQCwMo-ZsxiKHmdIuVa'
STRIPE_PUBLISHABLE_KEY=pk_live_51Sd6Rl9TUspFE5VHrmYOFHyJvqtI1r03oyVniQkoHEEQxdj4rCPMHbQorj7aQKsDVEEq88Z2rdyvy80co7VZ2vMX004Iv4mQKL
STRIPE_SECRET_KEY=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
STRIPE_WEBHOOK_SECRET=whsec_MuCWh8nXV8RV2aS6hipEWQyMCXSn1TfW
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhd3J6b3FhaXRrdWFibGRwbXZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxNzEwMzUsImV4cCI6MjA5OTc0NzAzNX0.gd0KVDSX0c8Wv0n4WGWF3a9hG3iJS81u6_SJgMQziHQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhd3J6b3FhaXRrdWFibGRwbXZ5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDE3MTAzNSwiZXhwIjoyMDk5NzQ3MDM1fQ.GAYmd5Xw5pgpse8LZFSi1L-W_ZiXpOGHFMDKIt7AJSQ
VITE_SUPABASE_URL=https://aawrzoqaitkuabldpmvy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFhd3J6b3FhaXRrdWFibGRwbXZ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxNzEwMzUsImV4cCI6MjA5OTc0NzAzNX0.gd0KVDSX0c8Wv0n4WGWF3a9hG3iJS81u6_SJgMQziHQ
SUPABASE_URL=https://aawrzoqaitkuabldpmvy.supabase.co